<div class="container animated fadeIn">
  <h1>About Angular Heroes</h1>
  <hr>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam temporibus accusamus quaerat ratione labore numquam placeat quod, consequuntur explicabo fugit optio soluta laboriosam delectus laborum assumenda quam a corrupti. Illo!
  Tempora consectetur consequuntur tempore temporibus aliquam aliquid, nam, asperiores, veritatis sit rerum id ad. In deserunt voluptatum, iste laborum eaque minima natus nobis quasi sapiente quae cupiditate repellendus expedita velit.
  Blanditiis nobis illo rem id aperiam reprehenderit tempora nulla, magnam doloremque repudiandae ducimus natus magni praesentium adipisci ipsa sit nostrum. Ratione quae vel hic eius? Hic iusto ex quod dolor.
  Facilis consequatur repellat fuga suscipit! Maiores dolores tempore unde officia quibusdam eaque soluta quae odio atque? Ipsam corrupti, aperiam, porro officia corporis, laborum magni quos voluptate sequi illum modi sunt!</p>
</div>